.research {
  background-color: #f5f7fa;
  height: calc(100vh - 13vh);
  &-inner {
    padding: 20px;
  }
  &-heading {
    font-size: 24px;
    font-weight: 600;
  }
  &-table {
    margin-top: 20px;
    background-color: #6176fe;
    width: 100%;
  }
  &-thead {
    padding: 20px;
  }
  &-tr {
  }
  &-th {
    text-align: center !important;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
.btn-primary {
  margin-top: 20px;
  background-color: #6176fe;
  font-weight: 500;
}
.form-control {
  margin-top: 10px;
}
#btnCapNhat,
#btnThemHocVien {
  background-color: #6176fe !important;
  color: #fff;
}
#tbBodyHocVien {
  background-color: #f5f7fa !important;
  color: #6176fe;
  margin: 10px 0;
}
.td {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px 0;
}
.tr {
  // display: inline-block;
  margin: 10px 0;
}
